---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
console.log("About page pre-rendering is disabled", new Date());
---

<Layout> <p>This is the about page</p> </Layout>
